{{define "base"}}
<!DOCTYPE html>
<html>
        
        <body>
	    	<header><h1>{{ .title }}</h1></header>
        	<main>
				<P>Url: {{. url }}</P>
			</main>
        </body>
        
</html>
{{end}}

